<nav class="navbar navbar-expand-lg navbar-light bg-neutral p-0  position-relative-992">
    <a class="navbar-brand py-lg-5 py-8 pe-lg-9 m-lg-0 " href="index.html">Vivre</a>
    <button class=" navbar-toggler border-0" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="mx-auto bg-neutral collapse navbar-collapse justify-content-between position-absolute-992 end-0 bottom-0"
        id="navbarSupportedContent">
        <form class="position-relative mt-3 m-lg-0">
            <input class="form-control" type="search" placeholder="搜尋文章" aria-label="Search">
            <img class="position-absolute end-0 top-50 translate-middle img-sm"
                src="../assets/images/search_24dp_569573_FILL0_wght400_GRAD0_opsz24.png" alt="">
        </form>
        <div class="d-lg-flex align-items-center bg-neutral">
            <ul class="navbar-nav me-auto mb-7 my-lg-0 ">
                <li class="nav-item me-lg-8 mb-4 my-lg-0 mt-4  bg-neutral">
                    <a class="nav-link fw-bold p-6 py-lg-2 px-lg-8 fs-7" aria-current="page"
                        href="../pages/content.html">所有文章</a>
                </li>
                <li class="nav-item me-lg-8 mb-4 mb-lg-0">
                    <a class="nav-link fw-bold p-6 py-lg-2 px-lg-8 fs-7" href="subscription.html">訂閱方案</a>
                </li>
                <li class="nav-item me-lg-8 mb-lg-0">
                    <a class="nav-link fw-bold p-6 py-lg-2 px-lg-8 fs-7" href="about.html">關於我們</a>
                </li>
            </ul>
            <div>
                <a type="button" class="btn btn-accent-200 w-100 rounded-3 text-neutral fw-bold py-6 py-lg-3 px-lg-4"
                    href="login.html">登入/註冊</a>
            </div>
        </div>
    </div>
</nav>