<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>結帳</title>
</head>
<body class="bg-cus">
    <div class="container nav-posi-fixed top-0 start-50 border-bottom ">
        <%- include('./layout/nav'); -%>
    </div>
    
        <main class="container">
            <article class="mt-21 pt-lg-12 mt-lg-17 pb-10 pb-lg-18">
                <div class="py-6 d-flex mb-2 mb-lg-8">
                    <h4 class="fs-7 mb-0 fw-semibold ">首頁</h4>
                    <h4 class="fs-7 mb-0 fw-semibold mx-14">/</h4>
                    <h4 class="fs-7 mb-0 fw-semibold ">訂閱方案</h4>
                    <h4 class="fs-7 mb-0 fw-semibold mx-14">/</h4>
                    <h4 class="fs-7 mb-0 fw-semibold text-accent-200">付款</h4>
                </div>
                <h1 class="fs-3 fw-bold mb-7 mb-lg-5">付款</h1>
                
                <div class="row">
                    <div class=" col-lg-7">
                        <div class="bg-neutral mb-4 border border-1 border-cus-300 rounded-2 ">
                            <div class="p-4 p-lg-7">
                                <h2 class="fw-bold fs-5 mb-4 mb-lg-7 fs-lg-4">購買人</h2>
                                <form>
                                    <div class="mb-3">
                                        <label for="name" class="form-label fw-bolder fs-6 mb-6">姓名</label>
                                        <input type="text" class="form-control bg-neutral-100 py-6 rounded-0" id="name" placeholder="請輸入姓名">
                                    </div>
                                    <div class="mb-3">
                                        <label for="password" class="form-label fw-bolder fs-6 mb-6">密碼</label>
                                        <input type="password" class="form-control bg-neutral-100 py-6 rounded-0" id="password" placeholder="請輸入密碼">
                                    </div>
                                    <div class="mb-4">
                                        <label for="mail" class="form-label fw-bolder fs-6 mb-6">電子信箱</label>
                                        <input type="mail" class="form-control bg-neutral-100 py-6 rounded-0" id="mail" placeholder="請輸入電子信箱">
                                    </div>
                                    <div class="form-check ps-0 ms-2 d-flex align-items-center">
                                        <input class="form-check-input img-check-2  mx-0 me-2 mt-0 rounded-0" type="checkbox" value="" id="check">
                                        <label class="form-check-label fs-6 fw-semibold text-neutral-500" for="check">
                                            記住我的資訊
                                        </label>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="bg-neutral mb-4 border border-1 border-cus-300 rounded-2 ">
                            <div class="p-4 p-lg-7">
                                <h2 class="fw-bold fs-5 mb-4 mb-lg-7 fs-lg-4">付款方式</h2>
                                <form>
                                    <h5 class="text-eutral-500 fs-6 fw-bolder mb-1 mb-lg-3">Pay With</h5>
                                    <div class="form-check ps-0 ms-2 d-flex align-items-center mb-4 mb-lg-7">
                                        <input class="form-check-input img-check-2  mx-0 me-2 mt-0" type="radio" value=""
                                            id="radio">
                                        <label class="form-check-label fs-6 fw-semibold text-neutral-500" for="radio">
                                            信用卡
                                        </label>
                                    </div>
                                    <div class="mb-3">
                                        <label for="number" class="form-label text-neutral-500 fw-bolder fs-6">信用卡號碼</label>
                                        <input type="text" class="form-control py-6 rounded-0" id="number" placeholder="1234 5678 1234 5678">
                                    </div>
                                    <div class="row mb-4">
                                        <div class="col-6">
                                            <label for="number-DAY" class="form-label text-neutral-500 fw-bolder fs-6">過期日</label>
                                            <input type="text" class="form-control py-6 rounded-0" id="number-DAY" placeholder="MM/YY">
                                        </div>
                                        
                                        <div class="col-6">
                                            <label for="number-CHECK" class="form-label text-neutral-500 fw-bolder fs-6">認證碼</label>
                                            <input type="text" class="form-control py-6 rounded-0" id="number-CHECK" placeholder="CVV">
                                        </div>
                                    </div>
                                    <div class="form-check ps-0 ms-2 d-flex align-items-center">
                                        <input class="form-check-input img-check-2  mx-0 me-2 mt-0 rounded-0" type="checkbox" value="" id="check">
                                        <label class="form-check-label fs-6 fw-semibold text-neutral-500" for="check">
                                            記住卡片資訊
                                        </label>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5">
                        <div class="bg-neutral mb-4 border border-1 border-accent-200 rounded-2  ">
                            <div class="p-4 p-lg-7">
                                <h2 class="fw-bold fs-5 mb-4 mb-lg-7 fs-lg-4 text-accent-200 pb-4 border-bottom">訂單資訊</h2>
                                <div class="pb-4 border-bottom mb-7">
                                    <div class="d-flex align-items-center justify-content-between mb-6">
                                        <h5 class="fs-6 fw-bolder fs-lg-5 mb-0 fw-bold">輕量型方案</h5>
                                        <h5 class="fs-6 fw-bolder fs-lg-5 mb-0 fw-bold">NT 1,188</h5>
                                    </div>
                                    <h6 class="fs-6 text-neutral-800 fw-bolder">年繳</h5>
                                </div>
                                <form class="pb-4 pb-lg-7 mb-4 border-bottom">
                                    <label for="number-2" class="form-label text-neutral-700 fs-6 fw-bolder mb-6">折扣碼</label>
                                    <div class="d-flex justify-content-between">
                                            <input type="text" class="form-label-sm  w-100  border-0   py-6 ps-3 bg-neutral-100 rounded-0 " id="number-2" placeholder="請輸入折扣碼">
                                            <button class=" btn btn-neutral-100 flex-shrink-0 py-6 px-3 ms-6 rounded-pill " type="button">套用</button>
                                    </div>
                                </form>
                                <div class="d-flex align-items-center justify-content-between mb-6">
                                    <h5 class="fs-6 fw-bolder fs-lg-5 mb-0 fw-bold">小計</h5>
                                    <h5 class="fs-6 fw-bolder fs-lg-5 mb-0 fw-bold">NT 1,188</h5>
                                </div>
                                <div class="d-flex align-items-center justify-content-between pb-4 border-bottom mb-4 mb-lg-7">
                                    <h5 class="fs-6 fw-bolder fs-lg-5 mb-0 fw-bold">折扣</h5>
                                    <h5 class="fs-6 fw-bolder fs-lg-5 mb-0 fw-bold">NT 0</h5>
                                </div>
                                <div class="d-flex align-items-center justify-content-between mb-4 mb-lg-7">
                                    <h5 class="fs-6 fw-bolder fs-lg-5 mb-0 fw-bold">總計</h5>
                                    <h5 class="fs-4 fw-bolder fs-lg-3 mb-0 fw-bold">NT 1,188</h5>
                                </div>
                                <a class="w-100 btn btn-accent-200 rounded-pill py-6 py-lg-3 text-neutral fw-bolder fs-6"  href="checkout-2.html">立即付款<img class="img-sm  ms-6" src="../assets/images/arrow_forward_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>

            </article>
        
        </main>

<!-- footer -->
        <main class="container">
            <article class=" border-top ">
            <%- include('./layout/footer'); -%>
            </article>
        </main>
</body>
        <script type="module" src="../main.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>
</html>