<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>訂閱方案</title>
</head>
<body class="bg-cus">
    <div class="container nav-posi-fixed top-0 start-50 border-bottom ">
        <%- include('./layout/nav'); -%>
    </div>
    <main class="container">
        <article  class="mt-19 pt-lg-18 mt-lg-17 pb-10 pb-lg-18">
            <div class="py-6 d-flex mb-2 mb-lg-8">
                <h4 class="fs-7 mb-0 fw-semibold ">首頁</h4>
                <h4 class="fs-7 mb-0 fw-semibold mx-14">/</h4>
                <h4 class="fs-7 mb-0 fw-semibold text-accent-200">訂閱方案</h4>
            </div>
            <h1 class="fs-3 fw-bold mb-7 mb-lg-10">訂閱方案</h1>
            <div class="row justify-content-center mb-4 mb-lg-7">
                <div class="col-lg-2 col-6 pe-0">
                    <button class="btn btn-outline-accent-200 border-0 rounded-0 text-neutral-400  w-100">年繳</button>
                </div>
                <div class="col-lg-2 col-6 ps-0">
                    <button class="btn btn-outline-accent-200 border-0 rounded-0 text-neutral-400 w-100 ">月繳</button>
                </div>
            </div>

            <div class="row">  

                <div class="col-lg-4 mb-4 mb-lg-0">
                    <div class="bg-neutral p-4 p-lg-7 d-flex flex-column h-100 border-cus-300 border-1 border rounded-2">
                        <div class="pb-9 pb-lg-10">
                            <h4 class="fs-6 fw-bolder mb-3 text-center">輕量型</h4>
                            <div class="mb-lg-7 d-flex align-items-center justify-content-center">
                                <h5 class="mb-0 fs-9 fw-bolder me-3 text-neutral-700">NT 99</h5>
                                <h5 class="mb-0 text-neutral-800 fs-5">/月</h5>
                            </div>
                        </div>
                        <div class="mb-10 ">
                            <div class="mb-20 mb-lg-4 d-flex align-items-center ">
                                <img class="img-sm me-2" src="../assets/images/check_box_24dp_6C757D_FILL1_wght400_GRAD0_opsz24.png" alt="">
                                <h5 class="mb-0 text-neutral-700 fw-bolder">每月最新文章無限閱讀</h5>
                            </div>
                            <div class="mb-20 mb-lg-4 d-flex align-items-center ">
                                <img class="img-sm me-2" src="../assets/images/check_box_24dp_6C757D_FILL1_wght400_GRAD0_opsz24.png" alt="">
                                <h5 class="mb-0 text-neutral-700 fw-bolder">專屬會員限定內容</h5>
                            </div>
                            <div class="mb-20 mb-lg-4 d-flex align-items-center ">
                                <img class="img-sm me-2" src="../assets/images/check_box_24dp_6C757D_FILL1_wght400_GRAD0_opsz24.png" alt="">
                                <h5 class="mb-0 text-neutral-700 fw-bolder">定期電子報</h5>
                            </div>
                        </div>  
                        
                        <div class="mt-auto">
                            <a class="w-100 btn btn-neutral-100 rounded-pill py-6 " href="Checkout.html">我要訂閱 <img class="img-sm ms-6" src="../assets/images/arrow_forward_24dp_6C757D_FILL0_wght400_GRAD0_opsz24 (1).png" alt="arrow_forward"></a>
                        </div>

                    </div>
                
                </div>
    
                <div class="col-lg-4 mb-4 mb-lg-0">
                    <div class="bg-neutral p-4 p-lg-7 d-flex flex-column h-100 border-cus-300 border-1 border rounded-2">
                        <div class="pb-9 pb-lg-10">
                            <h4 class="fs-6 fw-bolder mb-3 text-center">玩咖型</h4>
                            <div class="mb-lg-7 d-flex align-items-center justify-content-center">
                                <h5 class="mb-0 fs-9 fw-bolder me-3 text-neutral-700">NT 159</h5>
                                <h5 class="mb-0 text-neutral-800 fs-5">/月</h5>
                            </div>
                        </div>
                        <div class="mb-10">
                            <div class="mb-20 mb-lg-4 d-flex align-items-center ">
                                <img class="img-sm me-2" src="../assets/images/check_box_24dp_6C757D_FILL1_wght400_GRAD0_opsz24.png" alt="">
                                <h5 class="mb-0 text-neutral-700 fw-bolder">每月最新文章無限閱讀</h5>
                            </div>
                            <div class="mb-20 mb-lg-4 d-flex align-items-center ">
                                <img class="img-sm me-2" src="../assets/images/check_box_24dp_6C757D_FILL1_wght400_GRAD0_opsz24.png" alt="">
                                <h5 class="mb-0 text-neutral-700 fw-bolder">專屬會員限定內容</h5>
                            </div>
                            <div class="mb-20 mb-lg-4 d-flex align-items-center ">
                                <img class="img-sm me-2" src="../assets/images/check_box_24dp_6C757D_FILL1_wght400_GRAD0_opsz24.png" alt="">
                                <h5 class="mb-0 text-neutral-700 fw-bolder">定期電子報</h5>
                            </div>
                            <div class="mb-20 mb-lg-4 d-flex align-items-center ">
                                <img class="img-sm me-2" src="../assets/images/check_box_24dp_6C757D_FILL1_wght400_GRAD0_opsz24.png" alt="">
                                <h5 class="mb-0 text-neutral-700 fw-bolder">年度精選禮物</h5>
                            </div>
                            <div class="mb-20 mb-lg-4 d-flex align-items-center ">
                                <img class="img-sm me-2" src="../assets/images/check_box_24dp_6C757D_FILL1_wght400_GRAD0_opsz24.png" alt="">
                                <h5 class="mb-0 text-neutral-700 fw-bolder">24/7 優先客戶服務</h5>
                            </div>
                        </div>
                
                        <div class="mt-auto">
                            <a class="w-100 btn btn-neutral-100 rounded-pill py-6" href="Checkout.html">我要訂閱 <img class="img-sm ms-6"
                                    src="../assets/images/arrow_forward_24dp_6C757D_FILL0_wght400_GRAD0_opsz24 (1).png"
                                    alt="arrow_forward"></a>
                        </div>
                
                    </div>
                
                </div>
    
                <div class="col-lg-4">
                    <div class="bg-neutral p-4 p-lg-7 border-accent-200 border-2 border rounded-2">
                        <div class="pb-9 pb-lg-10">
                            <h4 class="fs-6 fw-bolder mb-3 text-center">家庭型</h4>
                            <div class=" mb-3 d-flex align-items-center justify-content-center">
                                <h5 class="mb-0 fs-9 fw-bolder me-3 text-accent-200 ">NT 599</h5>
                                <h5 class="mb-0 text-neutral-800 fs-5">/月</h5>
                            </div>
                            <h5 class="mb-0 text-neutral-300 fs-5 fw-bolder text-center">NT 899</h5>
                        </div>
                        <div class="mb-10">
                            <div class="mb-20 mb-lg-4 d-flex align-items-center ">
                                <img class="img-sm me-2" src="../assets/images/check_box_24dp_343A40_FILL1_wght400_GRAD0_opsz24.png" alt="">
                                <h5 class="mb-0 text-neutral-500 fw-bolder">每月最新文章無限閱讀</h5>
                            </div>
                            <div class="mb-20 mb-lg-4 d-flex align-items-center ">
                                <img class="img-sm me-2" src="../assets/images/check_box_24dp_343A40_FILL1_wght400_GRAD0_opsz24.png" alt="">
                                <h5 class="mb-0 text-neutral-500 fw-bolder">專屬會員限定內容</h5>
                            </div>
                            <div class="mb-20 mb-lg-4 d-flex align-items-center ">
                                <img class="img-sm me-2" src="../assets/images/check_box_24dp_343A40_FILL1_wght400_GRAD0_opsz24.png" alt="">
                                <h5 class="mb-0 text-neutral-500 fw-bolder">定期電子報</h5>
                            </div>
                            <div class="mb-20 mb-lg-4 d-flex align-items-center ">
                                <img class="img-sm me-2" src="../assets/images/check_box_24dp_343A40_FILL1_wght400_GRAD0_opsz24.png" alt="">
                                <h5 class="mb-0 text-neutral-500 fw-bolder">年度精選禮物</h5>
                            </div>
                            <div class="mb-20 mb-lg-4 d-flex align-items-center ">
                                <img class="img-sm me-2" src="../assets/images/check_box_24dp_343A40_FILL1_wght400_GRAD0_opsz24.png" alt="">
                                <h5 class="mb-0 text-neutral-500 fw-bolder">24/7 優先客戶服務</h5>
                            </div>
                            <div class="mb-20 mb-lg-4 d-flex align-items-center ">
                                <img class="img-sm me-2" src="../assets/images/check_box_24dp_343A40_FILL1_wght400_GRAD0_opsz24.png" alt="">
                                <h5 class="mb-0 text-neutral-500 fw-bolder">為每個成員量身打造專屬行程</h5>
                            </div>
                            <div class="d-flex align-items-center ">
                                <img class="img-sm me-2" src="../assets/images/check_box_24dp_343A40_FILL1_wght400_GRAD0_opsz24.png" alt="">
                                <h5 class="mb-0 text-neutral-500 fw-bolder">最多 5 個家庭成員共享</h5>
                            </div>
                        </div>
                
                        <div>
                            <a class=" w-100 btn btn-accent-200 rounded-pill text-neutral py-6" href="Checkout.html" >我要訂閱 <img class="img-sm ms-6"
                                    src="../assets/images/arrow_forward_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.png"
                                    alt="arrow_forward"></a>
                        </div>
                
                    </div>
                
                </div>

            </div>
        </article>

    </main>


    <!-- footer -->
    <main class="container">
        <article class=" border-top ">
            <%- include('./layout/footer'); -%>
        </article>
    </main>
    </body>
    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</html>